<div class="container justify-content-center mt-3">
    <h1 class="text-center">Formulari de Contacte</h1>
    <div class="row">
        <div class="col"></div>

        <div class="col-md-5">
            <form action="">
                <div class="form-group">
                    <div>
                        <label for="">Nom</label><br>
                        <input type="text" class="form-control inp">
                    </div>
                    <div>
                        <label for="">Telèfon</label><br>
                        <input type="text" class="form-control inp">
                    </div>
                    <div>
                        <label for="">Email</label><br>
                        <input type="mail" class="form-control inp">
                    </div>
                    <div>
                        <label for="">Missatge</label>
                        <textarea name="" class="form-control inp" id="" rows="4"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn bara">Contacte</button>

            </form>
        </div>
        <div class="col-5 mt-5 border h-25 cont">
            <div class="m-4">
                <h2>Dades de Contacte</h2>
                <p>ROSA DUARRI BESA</p>
                <p>670490324</p>
                <p>info@taxionline.cat</p>
            </div>
        </div>
    </div>
</div>