.inp {
    background-color: rgba(128, 128, 128, 0.8);
    border: none;
    color: white;
}

.inp:hover {
    color: wheat;
}

.inp:focus {
    color: #FFFFAB;
}

.bara {
    color: black;
    background-color: #f5b971;
}

.bara:hover {
    background-color: #85a392;
    color: white;
    transition: 0.6s;
}

.cont {
    background-color: #f8ddab;
}