<div class="container mt-3">
    <div class="media border p-3">
        <div class="media-body">
            <h1 class="text-center">Empresa</h1>
            <p class="text-justify">Taxis Online és una empresa familiar de Sant Fruitós de Bages i Sallent i que compta amb una trajectòria professional de 15 anys al servei de particulars i empreses amb l'afany de superació i d'oferir sempre un servei professional i de qualitat
                . Oferim la màxima eficàcia , puntualitat i discreció que mereixen els nostres clients amb disponibilitat absoluta les 24 hores, 7 dies a la setmana tant en el transport de passatgers com en els embalatges. Màxim confort, WI-FI, TPV en
                el nostre vehicle a més adaptat per a minusvàlids i per tal que els clients gaudeixin de tota comoditat en el seu trajecte. </p>
        </div>
        <img src="assets/images/furgomorro.png" alt="" class="ml-3 mt-3 w-50">
    </div>
</div>