    .capç {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
        padding: 0;
    }
    .test{
        background-image: url("../../../assets/images/furgo2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        background-attachment: fixed;
    }
    .parallax{
        background-image: url("../../../assets/images/monste.jpg");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /* .form1 {
        margin: 50px;
    } */
    
    /* .inpabout {
        background-color: #adad4c;
        opacity: 0.8;
        border: 2px solid #808055;
        color: white;
        font-weight: bold;
    } */
    
    /* .colabout {
        padding: 0;
    } */
/*     
    .submitabout {
        width: 100px;
        float: right;
        border: 2px solid #808055;
        background-color: #adad4c;
        opacity: 0.8;
        color: white;
        font-weight: bold;
    } */
    
    hr {
        border: 2px solid rgb(206, 178, 17);
    }
    /* .homeservi {
        width: 3.33%;
    } */