<div class="container mt-3">
    <h1>Política de Cookies</h1>
    <p>Aquest web utilitza cookies pròpies i de tercers per recollir informació sobre les seves visites i l'ús que fa de la nostra web, així com per mostrar publicitat que li pugui ser d'utilitat . En navegar o utilitzar els nostres serveis l'usuari accepta
        l'ús que fem de les cookies . No obstant això , l'usuari té l'opció d'impedir la generació de cookies i l'eliminació de les mateixes mitjançant la selecció de la corresponent opció en el seu navegador. En cas de bloquejar l'ús de cookies en el
        seu navegador és possible que alguns serveis o funcionalitats de la pàgina web no estiguin disponibles .</p>

    <h2>Què és una cookie?</h2>
    <p>Una cookie és un petit fragment de text que els llocs web envien al navegador i que s'emmagatzemen en el terminal de l'usuari, el qual pot ser un ordinador personal, un telèfon mòbil, un tablet, etc . Aquests arxius permeten que el lloc web recordi
        informació sobre la seva visita, com l'idioma i les opcions preferides, el que pot facilitar la seva pròxima visita i fer que el lloc sigui més útil al personalitzar el seu contingut. Les cookies tenen un paper molt important, en millorar l'experiència
        d'ús del web.</p>

    <h2>Com s'utilitzen les cookies?</h2>
    <p>En navegar per aquest portal web l'usuari està acceptant que es puguin instal·lar cookies al seu terminal i que ens permeten conèixer la següent informació:</p>

    <ul>
        <li>Informació estadística de l'ús de la web.</li>
        <li>El 'login' de l'usuari per mantenir la sessió activa a la web.</li>
        <li>El format de la web preferent en l'accés des de dispositius mòbils.</li>
        <li>Les últimes recerques realitzades en els serveis de la web i dades de personalització d'aquests serveis.</li>
        <li>Informació sobre els anuncis que es mostren l'usuari.</li>
        <li>Dades de la connexió amb les xarxes socials per als usuaris que accedeixen amb el seu usuari de Facebook o Twitter.</li>
    </ul>

    <h2>Tipus de cookies utilitzades</h2>
    <p>Aquest web utilitza tant cookies temporals de sessió com cookies permanents. Les cookies de sessió emmagatzemen dades únicament mentre l'usuari accedeix al web i les cookies permanents emmagatzemen les dades en el terminal perquè siguin accedits i
        utilitzats en més d'una sessió.</p>
    <p>Segons la finalitat per a la qual es tractin les dades obtingudes a través de les cookies, el web pot utilitzar:</p>

    <h3>Cookies tècniques</h3>
    <p>Són aquelles que permeten a l'usuari la navegació a través de la pàgina web o aplicació i la utilització de les diferents opcions o serveis que en ella existeixen. Per exemple, controlar el trànsit i la comunicació de dades, identificar la sessió,
        accedir a les parts Web d'accés restringit, recordar els elements que integren una comanda, realitzar la sol·licitud d'inscripció o participació en un esdeveniment, utilitzar elements de seguretat durant la navegació i emmagatzemar continguts
        per a la difusió de vídeos o so.</p>

    <h3>Cookies de personalització</h3>
    <p>Són aquelles que permeten a l'usuari accedir al servei amb algunes característiques de caràcter general predefinides en el seu terminal o que el propi usuari defineixi. Per exemple, l'idioma, el tipus de navegador a través del qual accedeix al servei,
        el disseny de continguts seleccionat, geolocalització del terminal i la configuració regional des d'on s'accedeix al servei.</p>
    <p>En aquest cas, les cookies de personalització de llengua permeten que l'usuari pugui accedir a la nostra pàgina web i que recordem l'idioma que ha triat en la primera visita. Aquestes cookies són persistents i no desapareixeran quan tanqui el seu
        navegador.
    </p>

    <h3>Cookies publicitàries</h3>
    <p>Són aquelles que permeten la gestió eficaç dels espais publicitaris que s'han inclòs a la pàgina web o aplicació des de la qual es presta el servei. Permeten adequar el contingut de la publicitat perquè aquesta sigui rellevant per a l'usuari i per
        evitar mostrar anuncis que l'usuari ja hagi vist.</p>

    <h3>Cookies d'anàlisi estadística</h3>
    <p>Les cookies d'anàlisi permeten recollir informació sobre com els usuaris interactuen a la nostra pàgina web, per tal d'analitzar de forma agregada aquestes conductes i poder introduir millores, no permeten identificar-lo. Fem servir les cookies de
        Google Analytics denominades " _utma " i " _utmz " .</p>

    <h3>Cookies de complement</h3>
    <p>Les cookies de complement per intercanviar continguts socials són gestionades íntegrament per Facebook, Twitter, Google+, YouTube, Pinterest i Instagram. Integrem a la nostra pàgina web "mòduls de complement de continguts socials" que faciliten als
        membres de xarxes socials intercanviar continguts.</p>

    <h2>Com administrar les cookies al navegador?</h2>
    <p>L'usuari té l'opció de permetre, bloquejar o eliminar les cookies instal·lades en el seu equip mitjançant la configuració de les opcions del navegador en el seu terminal:</p>

    <h3>Per ajustar els permisos relacionats amb les cookies al navegador Google Chrome:</h3>

    <ol>
        <li>Fer clic al menú situat a la barra d'eines.</li>
        <li>Seleccionar 'Configuració'.</li>
        <li>Fer clic a 'Mostra opcions avançades'.</li>
        <li>A la secció 'Privacitat' fer clic al botó 'Configuració de contingut'.</li>
        <li>A la secció de 'Cookies' es poden configurar les opcions.</li>
    </ol>

    <h3>Per ajustar els permisos relacionats amb les cookies al navegador Mozilla Firefox:</h3>
    <ol>
        <li>A la part superior de la finestra del Firefox fer clic al menú 'Eines'.</li>
        <li>Seleccionar 'Opcions'.</li>
        <li>Seleccionar el panell 'Privacitat'.</li>
        <li>En l'opció Firefox podrà triar Utilitza una configuració personalitzada per l'historial per configurar les opcions.</li>
    </ol>

    <p>En cas de bloquejar l'ús de cookies en el seu navegador és possible que alguns serveis o funcionalitats de la pàgina web no estiguin disponibles.</p>
    <p>En alguns navegadors es poden configurar regles específiques per administrar cookies per lloc web, el que ofereix un control més precís sobre la privacitat. En aquest cas es pot desactivar cookies de tots els llocs excepte d'aquells en els quals es
        confiï.
    </p>
    <p>Si té cap dubte o consulta sobre la Política de Cookies, si us plau escrigui'ns a: oab@fcbarcelona.cat.</p>

    <h2>Configuració de cookies</h2>
    <p>Podeu decidir si voleu que el FC Barcelona emmagatzemi cookies no essencials a la vostra màquina. Les cookies no essencials es refereixen principalment al seguiment del contingut, per exemple, Scripts d'anàlisi de Google / Adobe. Si definiu que les
        preferències es rebutgin, aquestes galetes s'eliminaran de la màquina i no s'emmagatzemaran en el futur.</p>
</div>