<header>
    <div class="idioma col">
        <p>
            Idioma
            <a href=""><img class="ban" src="assets/Icons/cat.png" alt=""></a>
            <a href=""><img class="ban" src="assets/Icons/en.jpg" alt=""></a>
        </p>
    </div>
    <nav class="navbar navbar-expand-md">
        <a href="/home" class="navbar-brand titolprin pl-2 appfont">TaxiOnline</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" [ngClass]="{'collapse':true}" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href=""></a>
                </li>
            </ul>
            <div class="navbar-nav mr-auto">
                <a href="/home" class="nav-item nav-link active">Inici</a>
                <a href="#" class="nav-item nav-link">Reserva</a>
                <a href="#" class="nav-item nav-link">Tarífes</a>
                <a href="#" class="nav-item nav-link">Serveis</a>
                <a href="/coneixens" class="nav-item nav-link">Coneixe'ns</a>
                <a href="/contact" class="nav-item nav-link">Contacte</a>
            </div>
            <div *ngIf="!client" class="navbar-nav ml-auto">
                <a routerLink="/auth/nav" routerLinkActive="active" class="nav-item nav-link">Login</a>
                <a routerLink="/auth/nav" routerLinkActive="active" class="nav-item nav-link">Registre</a>
            </div>
            <div *ngIf="client">
                <a href="">{{client.email}}</a>
                <a href="" (click)="logout()">Logout</a>
            </div>
        </div>
    </nav>
</header>

<div class="body2">
    <router-outlet></router-outlet>
</div>

<div class="container-fluid">
    <footer class="row align-items-center">
        <div class="col-4">
            <img src="assets/Logos/logo2.png" style="width: 200px;"><br>
            <span class="appfont">TaxiOnline</span>
            <p>&copy; CopyRight 2020</p>
        </div>
        <div class="col-4 ">
            <p><a href="">RESERVA ARA</a></p>
            <p><a href="">Coneixe'ns</a></p>
            <p><a href="">Política de privacitat</a></p>
            <p><a href="">Condicions Generals</a></p>
        </div>
        <div class="col-4">
            <p>Serveis 24h</p>
            <p>5 places o 9 places</p>
            <p>Màxima puntualitat</p>
            <p>Pagament amb visa</p>
        </div>
    </footer>
</div>
