
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #80807C;
    color: white;
    text-align: center;
}

.navbar {
    background-color: #FFFFAB;
}

.idioma {
    text-align: right;
    padding: 5px;
}

p {
    margin: 0;
}

.ban {
    width: 30px;
    padding-right: 5px;
}
body{
    background-color: black;
}