<header>
    <div class="idioma col">
        <p>
            Idioma
            <a href=""><img class="ban" src="assets/Icons/cat.png" alt=""></a>
            <a href=""><img class="ban" src="assets/Icons/en.jpg" alt=""></a>
        </p>
    </div>
    <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand">TaxiOnline</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/about" class="nav-item nav-link active">Inici</a>
                <a href="#" class="nav-item nav-link">Reserva</a>
                <a href="#" class="nav-item nav-link">Tarífes</a>
                <a href="#" class="nav-item nav-link">Serveis</a>
                <a href="/coneixens" class="nav-item nav-link">Coneixe'ns</a>
                <a href="/contact" class="nav-item nav-link">Contacte</a>
            </div>
            <div *ngIf="!client" class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link">Login</a>
                <a href="#" class="nav-item nav-link">Registre</a>
            </div>
            <div *ngIf="client">
                <a href="">{{client.email}}</a>
                <a href="">Logout</a>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>

<footer>
    <p>&copy; CopyRight 2020 | TAXIONLINE</p>
</footer>