<header>
    <div class="idioma col">
        <p>
            Idioma
            <a href=""><img class="ban" src="assets/Icons/cat.png" alt=""></a>
            <a href=""><img class="ban" src="assets/Icons/en.jpg" alt=""></a>
        </p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a href="/home" class="navbar-brand titolprin pl-2 appfont">TaxiOnline</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link text-center">Inici</a>
                <a routerLink="/reserva" routerLinkActive="active" class="nav-item nav-link text-center">Reserva</a>
                <a routerLink="/tarifa" routerLinkActive="active" class="nav-item nav-link text-center">Tarífes</a>
                <a routerLink="/serveis" routerLinkActive="active" class="nav-item nav-link text-center">Serveis</a>
                <a routerLink="/coneixens" routerLinkActive="active" class="nav-item nav-link text-center">Coneixe'ns</a>
                <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link text-center">Contacte</a>
            </div>
            <div>
                <hr style="border-top: 2px solid grey;width: 50%;">
            </div>
            <div *ngIf="!client" class="navbar-nav ml-auto">
                <a routerLink="/auth/nav" routerLinkActive="active" class="nav-item nav-link text-center">Login</a>
                <!-- <a routerLink="/auth/nav" routerLinkActive="active" class="nav-item nav-link text-center">Registre</a> -->
            </div>
            <div class="container">
                <button type="button" class="navbar-nav ml-auto ddown" data-toggle="collapse" data-target="#demo">{{client.nom}} {{client.cognoms}}</button>

                <div *ngIf="client" id="demo" class="collapse navbar-nav">
                    <a class="nav-item nav-link text-center" routerLink="/perfil-client">Perfil</a>
                    <a class="nav-item nav-link text-center" routerLink="/viatges-client">Viatges</a>
                    <a href="" (click)="logout()" class="nav-item nav-link text-center">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="body2">
    <router-outlet></router-outlet>
</div>

<div class="container-fluid fot">
    <footer class="row d-flex justify-content-between">
        <div class="m-2 text-center">
            <img src="assets/Logos/logo2.png" style="width: 200px;"><br>
            <span class="appfont">TaxiOnline</span>
            <p>&copy; CopyRight 2020</p>
        </div>
        <div class="m-2 text-center">
            <p><a routerLink="/reserva">RESERVA ARA</a></p>
            <p><a routerLink="">Coneixe'ns</a></p>
            <p><a routerLink="">Política de privacitat</a></p>
            <p><a routerLink="">Condicions Generals</a></p>
        </div>
        <div class="m-2 text-center">
            <p>Serveis 24h</p>
            <p>5 places o 9 places</p>
            <p>Màxima puntualitat</p>
            <p>Pagament amb visa</p>
        </div>
    </footer>
</div>