<div class="totsViatges contenido">
    <table class="table m-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Origen</th>
                <th scope="col">Desti</th>
                <th scope="col">Hora</th>
                <th scope="col">Data</th>
                <th scope="col">Opcions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viatge of viatges">
                <th scope="row">{{viatge._id}}</th>
                <td>{{viatge.origen}}</td>
                <td>{{viatge.desti}}</td>
                <td>{{viatge.data}}</td>
                <td>{{viatge.hora}}</td>
                <td class="d-flex flex-column">
                    <button class="btn btn-success mt-1">Veure</button>
                    <button class="btn btn-warning mt-1">Editar</button>
                    <button class="btn btn-danger mt-1">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>