<div class="totsViatges contenido mt-2">
    <table class="table w-75 m-auto text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Origen</th>
                <th scope="col">Desti</th>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Opcions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viatge of viatges">
                <td>{{viatge.origen}}</td>
                <td>{{viatge.desti}}</td>
                <td>{{viatge.data}}</td>
                <td>{{viatge.hora}}</td>
                <td [ngClass]="{
                    'text-success':viatge.confirmat == 'Confirmat',
                    'text-warning':viatge.confirmat == 'Pendent',
                    'text-danger':viatge.confirmat == 'Cancelat'
                }">{{viatge.confirmat}}</td>

                <td><button (click)="detallsViatge(viatge._id)">Detalls</button></td>
            </tr>
        </tbody>
    </table>
</div>