<div class="login-reg-panel logejat">
    <div class="white-panel ">
        <div class="login-show">
            <form class="custom-form" method="post" #formLogin="ngForm">
                <h2>LOGIN</h2>
                <span *ngIf="passerror" class="text-danger">{{passerror}}</span>
                <input type="email" #emailL="ngModel" [(ngModel)]="emaillogin" name="emaillogin" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                <span *ngIf="emailL.touched && !emailL.valid">
                  El email és obligatori
                </span>
                <input type="password" #passwordL="ngModel" [(ngModel)]="passwordlogin" name="passwordlogin" placeholder="Password" required pattern=".{6,}" />
                <span *ngIf="passwordL.touched && !passwordL.valid">
                  La contrassenya és obligatoria
                </span>
                <button type="submit" class="butlog" (click)="login()" [disabled]="!formLogin.form.valid">Login</button>
                <a href="">Forgot password?</a>
            </form>
        </div>
    </div>

    <div class="register-info-box">
        <div class="register-show">
            <form class="custom-form" method="post" #formRegistre="ngForm">
                <h2>REGISTRE</h2>
                <input type="text" name="nom" #nomR="ngModel" [(ngModel)]="nom" placeholder="Nom" required pattern="[a-zA-Z ]+" />
                <span *ngIf="nomR.touched && !nomR.valid">
                El nom és obligatori
              </span>
                <input type="text" #cognomsR="ngModel" [(ngModel)]="cognoms" name="cognoms" placeholder="Cognoms" required="required" pattern="[a-zA-Z ]+" />
                <span *ngIf="cognomsR.touched && !cognomsR.valid">
                El cognom és obligatori
              </span>
                <input type="email" #emailR="ngModel" [(ngModel)]="email" name="email" placeholder="Email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                <span *ngIf="emailR.touched && !emailR.valid">
                El email és obligatori i en format mail@exemple.com
              </span>
                <span *ngIf="error" class="text-danger">{{error}}</span>

                <input type="password" #passwordR="ngModel" [(ngModel)]="password" name="password" placeholder="Password" required="required" pattern=".{6,}" />
                <span *ngIf="passwordR.touched && !passwordR.valid">
                La contrassenya és obligatoria i 6 caracters minim
              </span>
                <input type="text" #telefonR="ngModel" [(ngModel)]="telefon" name="telefon" placeholder="Telefon" required="required" pattern="[0-9]{9,}" />
                <span *ngIf="telefonR.touched && !telefonR.valid">
                El telèfon és obligatori
              </span>
                <button type="submit" class="butreg" (click)="registre()" [disabled]="!formRegistre.form.valid">Registre</button>
            </form>
        </div>
    </div>

</div>

<div class="login-reg-panel registrat">
    <div class="white-panel">
        <div class="register-show">
            <form class="custom-form" method="post" #formRegistre="ngForm">
                <h2>REGISTRE</h2>
                <input type="text" name="nom" #nomR="ngModel" [(ngModel)]="nom" placeholder="Nom" required pattern="[a-zA-Z ]+" />
                <span *ngIf="nomR.touched && !nomR.valid">
          El nom és obligatori
        </span>
                <input type="text" #cognomsR="ngModel" [(ngModel)]="cognoms" name="cognoms" placeholder="Cognoms" required="required" pattern="[a-zA-Z ]+" />
                <span *ngIf="cognomsR.touched && !cognomsR.valid">
          El cognom és obligatori
        </span>
                <input type="email" #emailR="ngModel" [(ngModel)]="email" name="email" placeholder="Email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                <span *ngIf="emailR.touched && !emailR.valid">
          El email és obligatori i en format mail@exemple.com
        </span>
                <span *ngIf="error" class="text-danger">{{error}}</span>

                <input type="password" #passwordR="ngModel" [(ngModel)]="password" name="password" placeholder="Password" required="required" pattern=".{6,}" />
                <span *ngIf="passwordR.touched && !passwordR.valid">
          La contrassenya és obligatoria i 6 caracters minim
        </span>
                <input type="text" #telefonR="ngModel" [(ngModel)]="telefon" name="telefon" placeholder="Telefon" required="required" pattern="[0-9]{9,}" />
                <span *ngIf="telefonR.touched && !telefonR.valid">
          El telèfon és obligatori
        </span>
                <button type="submit" class="butreg" (click)="registre()" [disabled]="!formRegistre.form.valid">Registre</button>
            </form>
        </div>
    </div>

    <div class="register-info-box">
        <div class="login-show">
            <form class="custom-form" method="post" #formLogin="ngForm">
                <h2>LOGIN</h2>
                <span *ngIf="passerror" class="text-danger">{{passerror}}</span>
                <input type="email" #emailL="ngModel" [(ngModel)]="emaillogin" name="emaillogin" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                <span *ngIf="emailL.touched && !emailL.valid">
              El email és obligatori
            </span>
                <input type="password" #passwordL="ngModel" [(ngModel)]="passwordlogin" name="passwordlogin" placeholder="Password" required pattern=".{6,}" />
                <span *ngIf="passwordL.touched && !passwordL.valid">
              La contrassenya és obligatoria
            </span>
                <button type="submit" class="butlog" (click)="login()" [disabled]="!formLogin.form.valid">Login</button>
                <a href="">Forgot password?</a>
            </form>
        </div>
    </div>

</div>