@media (max-width: 800px) {
    .login-reg-panel {
        position: relative;
        text-align: center;
        width: 70%;
        right: 0;
        left: 0;
        margin: auto;
        height: 570px;
        background-color: #85a392;
        margin-top: 70px;
        box-shadow: 0 0 10px 6px #00000096;
    }
    .white-panel {
        background-color: rgba(255, 255, 255, 1);
        height: 320px;
        position: absolute;
        top: -40px;
        width: 80%;
        margin-left: 10%;
        z-index: 0;
        box-shadow: 0 0 10px 6px #00000096;
        padding: 10px;
    }
    .register-info-box {
        width: 77%;
        margin-left: 10%;
        margin-top: 260px;
        position: absolute;
        text-align: left;
    }
    .login-show,
    .register-show {
        z-index: 1;
        color: #242424;
        text-align: left;
        padding: 5px;
    }
    .login-show {
        margin-top: 30px;
    }
    .login-show input[type="email"],
    .login-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 15px 0;
        border: 1px solid #b5b5b5;
        outline: none;
        border-radius: 3px;
        padding-left: 5px;
    }
    .login-show .butlog {
        max-width: 90px;
        width: 100%;
        background: #f5b971;
        color: black;
        border: none;
        padding: 5px;
        text-transform: uppercase;
        border-radius: 2px;
        float: right;
        cursor: pointer;
    }
    .register-show input[type="text"],
    .register-show input[type="email"],
    .register-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 5px 0;
        border: 1px solid #b5b5b5;
        outline: none;
        border-radius: 3px;
        padding-left: 5px;
    }
    .register-show .butreg {
        max-width: 130px;
        width: 100%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 5px;
        text-transform: uppercase;
        border-radius: 2px;
        float: right;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: #85a392;
    }
}

@media (min-width: 801px) {
    a {
        text-decoration: none;
        color: #444444;
    }
    .login-reg-panel {
        position: relative;
        text-align: center;
        width: 70%;
        right: 0;
        left: 0;
        margin: auto;
        height: 480px;
        background-color: #85a392;
        margin-top: 70px;
        margin-bottom: 40px;
        box-shadow: 0 0 10px 6px #00000096;
    }
    .white-panel {
        background-color: rgba(255, 255, 255, 1);
        height: 500px;
        position: absolute;
        top: 0px;
        width: 50%;
        right: calc(50% - 50px);
        z-index: 0;
        box-shadow: 0 0 10px 6px #00000096;
    }
    .register-info-box {
        width: 50%;
        /* padding: 0 40px; */
        padding-left: 60px;
        padding-right: 20px;
        right: 0;
        position: absolute;
        text-align: left;
    }
    .login-show,
    .register-show {
        z-index: 1;
        color: #242424;
        text-align: left;
        padding: 30px;
        /* display: flex; */
    }
    .login-show {
        margin-top: 70px;
    }
    .login-show input[type="email"],
    .login-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #b5b5b5;
        outline: none;
        border-radius: 3px;
    }
    .login-show .butlog {
        max-width: 150px;
        width: 100%;
        background: #f5b971;
        color: black;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        float: right;
        cursor: pointer;
    }
    .login-show a {
        display: inline-block;
        padding: 10px 0;
    }
    .register-show input[type="text"],
    .register-show input[type="email"],
    .register-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 5px;
        border: 1px solid #b5b5b5;
        outline: none;
        border-radius: 3px;
    }
    .register-show .butreg {
        max-width: 150px;
        width: 100%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        float: right;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: #85a392;
    }
}
span{
    color:red;
}
