<div class="login">
    <form class="custom-form" method="post">
      <h1>Registre</h1>
      <input
        type="text"
        [(ngModel)]="nom"
        name="nom"
        placeholder="Nom"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="cognoms"
        name="cognoms"
        placeholder="Cognoms"
        required="required"
      />
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="telefon"
        name="telefon"
        placeholder="Telefon"
        required="required"
      />
      <button type="submit" (click)="registre()">Registre</button>
    </form>
    <form class="custom-form" method="post">
      <h1>Login</h1>
     
      <input
        type="email"
        [(ngModel)]="emaillogin"
        name="emaillogin"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="passwordlogin"
        name="passwordlogin"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()">Log in</button>
    </form>
  </div>