<h1 class="text-center mt-3">Tarifes de l'any 2020</h1>
<div class="container">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="table-dark" colspan="6">TARIFES INTERURBANES A CATALUNYA</th>
            </tr>
            <tr>
                <th class="table-dark" colspan="6">Import a pagar el que marqui el taxímetre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-warning" colspan="3">
                    <strong>T-6</strong> Laborables De 8:00 a 20:00h
                </td>
                <td class="table-warning" colspan="3">
                    <strong>T-7</strong> Dissabtes i festius
                </td>
            </tr>
            <tr>
                <td class="tar">Baixada de bandera</td>
                <td class="tar">Preu/Km</td>
                <td class="tar">Hora d'espera</td>
                <td class="tar">Baixada de bandera</td>
                <td class="tar">Preu/Km</td>
                <td class="tar">Hora d'espera</td>
            </tr>
            <tr>
                <td class="tar">6,20€</td>
                <td class="tar">0,70€</td>
                <td class="tar">19,12€</td>
                <td class="tar">6,70€</td>
                <td class="tar">0,75€</td>
                <td class="tar">20,68€</td>
            </tr>
            <tr>
                <th class="table-dark" colspan="6">SUPLEMENTS</th>
            </tr>
            <tr>
                <td colspan="3">
                    Maletes al aeroport 3,10€
                </td>
                <td colspan="3">
                    9 places amb més de 4 passatgers 3,10€
                </td>
            </tr>
            <tr>
                <th class="table-dark" colspan="6">
                    Els peatges són OPCIONALS | Pas túnel: ruta opcional | Peatge (anada i tornada) a càrrec del client
                </th>
            </tr>
            <tr>
                <th class="table-dark" colspan="6">Impostos Inclosos</th>
            </tr>
        </tbody>
    </table>
</div>