<div class="container mt-3  text-center">
    <h1>Serveis</h1>
    <p>Els nostres serveis</p>
    <div class="d-flex flex-wrap justify-content-center text-justify  ">
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top w-100" src="assets/images/24h.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">SERVEI 24 HORES</h5>
                <hr>
                <p class="card-text">Oferim als nostres clients un servei de 24 hores, 7 dies a la setmana, tant en el transport de passatgers com en el de paqueteria.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/buisness.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">PARTICULARS/ EMPRESES</h5>
                <hr>
                <p class="card-text">La nostra empresa ofereix servei tant a particulars com a empreses. Taxi Online compta amb una trajectòria de més de 15 anys oferint un servei de qualitat immillorable, un tracte amable i proper en tot moment.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/rest.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">RESTAURANTS/HOTELS</h5>
                <hr>
                <p class="card-text">Taxi Online ofereix un servei personalitzat en restaurants i hotels. Despreocupi dels horaris, només ha de fer una reserva i estarem al seu hotel o restaurant quan ho necessiti.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/maleta.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">ORGANISMES OFICIALS/MUTUES</h5>
                <hr>
                <p class="card-text">Oferim desplaçaments a organismes oficials i mútues. Si necessita desplaçar fins a algun organisme oficial, mútues, rehabilitació, Taxi Online és el millor.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/furgoneta.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">TRASLLETS CONCRETATS</h5>
                <hr>
                <p class="card-text">Pot reservar el seu viatge entran a <a href="/reserva">aquí</a>, informeu-vos sense compromís. A Taxi Online oferim la màxima eficàcia, puntualitat i discreció en tots els trajectes.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/airplane.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">AEROPORT/ PORT/TREN</h5>
                <hr>
                <p class="card-text">No esperi més en els aeroports, trens i autobusos, Taxi Sant Fruitós li acostarà al lloc que vulgui sense patir cap tipus d'espera. Només ha de reservar el seu desplaçament o posar-se en contacte amb nosaltres.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/map.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">VIATGES NACIONALS / INTERNACIONALS</h5>
                <hr>
                <p class="card-text">A la nostra empresa oferim viatges interurbans i de llarg recorregut. Els nostres taxis són còmodes i estan totalment equipats, adaptats per minusvalidesa.</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/sillaruedas.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">VEHICLE ADAPTAT PER CADIRA DE RODES</h5>
                <hr>
                <p class="card-text">Oferim un servei per les persones que necesseniten un vehicle adaptat. El nostre taxi està totalment equipat per aquests viatges.</p>
            </div>
        </div>
    </div>

</div>