<div class="container-fluid perfilc">
    <div class="row">
        <div class="col"></div>
        <div class="mb-5 pb-5 col-md-4 box-form">
            <h1>Perfil de l'usuari</h1>
            <hr>
            <h3>Actualitza les dades</h3>
            <span *ngIf="missatge">Usuari actualitzat correctament</span>
            <span *ngIf="passerror" class="text-danger">{{passerror}}</span>

            <form #formUpdate="ngForm" (ngSubmit)="onSubmit(formUpdate)">
                <div class="form-group">
                    <label for="origen">Nom</label>
                    <input type="text" class="form-control inp" #name="ngModel" [(ngModel)]="client.nom" required id="origen" name="nom" pattern="[a-zA-Z ]">
                    <span *ngIf="name.touched && !name.valid">
                        El nom és obligatori
                    </span>
                </div>

                <div class="form-group">
                    <label for="desti">Cognoms</label>
                    <input type="text" class="form-control inp" #surname="ngModel" [(ngModel)]="client.cognoms" required id="desti" name="cognoms" pattern="[a-zA-Z ]">
                    <span *ngIf="surname.touched && !surname.valid">
                        El cognom és obligatori
                    </span>
                </div>

                <div class="form-group">
                    <label for="places">Email</label>
                    <input type="email" class="form-control inp" #mail="ngModel" [(ngModel)]="client.email" id="places" min=1 max=8 name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    <span *ngIf="mail.touched && !mail.valid">
                        El correu és obligatori
                    </span>
                </div>

                <div class="form-group">
                    <label for="data">Telefon</label>
                    <input type="text" class="form-control inp" #mobile="ngModel" [(ngModel)]="client.telefon" id="data" name="telefon" pattern="[0-9]{9,}">
                    <span *ngIf="mobile.touched && !mobile.valid">
                        El telèfon és obligatori
                    </span>
                </div>

                <input type="submit" class="btn bara" value="Actualitzar">
            </form>
            <hr>
            <h3>Canviar la contrasenya</h3>
            <form #formUpdatePass="ngForm" (ngSubmit)="updatePass(formUpdatePass)">
                <div class="form-group">
                    <!-- <label for="contrassenya">Contrasenya</label> -->
                    <input type="password" title="contrasenya" class="form-control inp" [(ngModel)]="contrassenya" name="contrasenya" pattern=".{6,}">
                </div>
                <input type="submit" class="btn bara" value="Actualitzar contrassenya">
            </form>
            <hr>
            <div class="">
                <p>Per eliminar el teu compte fes click al botó</p>
                <button class="btn bara" (click)="esborrar()">Esborrar-te</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>