<div class="container-fluid reserva">
    <div class="row">
        <div class="col"></div>
        <div class="mb-5 pb-5 col-md-4 box-form">
            <h1>Perfil de l'usuari</h1>
            <span *ngIf="missatge">Projecte actualitzat correctament</span>
            <form #formUpdate="ngForm" (ngSubmit)="onSubmit(formUpdate)">
                <div class="form-group">
                    <label for="origen">Nom</label>
                    <input type="text" class="form-control inp" #name="ngModel" [(ngModel)]="client.nom" required id="origen" name="nom">
                </div>

                <div class="form-group">
                    <label for="desti">Cognoms</label>
                    <input type="text" class="form-control inp" #surname="ngModel" [(ngModel)]="client.cognoms" required id="desti" name="cognoms">
                </div>

                <div class="form-group">
                    <label for="places">Email</label>
                    <input type="email" class="form-control inp" #mail="ngModel" [(ngModel)]="client.email" id="places" min=1 max=8 name="email">
                </div>

                <div class="form-group">
                    <label for="data">Telefon</label>
                    <input type="text" class="form-control inp" #mobile="ngModel" [(ngModel)]="client.telefon" id="data" name="telefon">
                </div>

                <!-- <p>Canviar la contrasenya</p>
                <hr>
                <div class="form-group">
                    <label for="hora">Contrasenya</label>
                    <input type="text" class="form-control inp" [(ngModel)]="contrassenya" id="hora" name="contrasenya">
                </div>
 -->
                <input type="submit" class="btn btn-primary " value="Actualitzar">
                <!-- <button type="submit" (click)="onSubmit()" class="btn btn-primary ">Actualitzar</button> -->
            </form>
            <p>Per eliminar el teu compte fes click al botó</p>
            <button (click)="esborrar()">Esborrar-te</button>
        </div>
        <div class="col"></div>
    </div>
</div>